body {
    background-color: #303030 !important;
}
.container h2 {
    background: linear-gradient(90deg, #1d0b07, #c2c2c2); /* Gradient for header */
    color: white; /* Text color for contrast */
    border-radius: 8px; /* Rounded corners */
    font-weight: 100; /* Bolder font weight */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-transform: uppercase; /* Make text uppercase */
    letter-spacing: 1.5px; /* Add some spacing between letters */
    font-family: Georgia, serif;
}

.card {
    background-color: #000000 !important;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
}
.time-badge {
    font-size: 0.9rem; /* Adjust font size */
    font-weight: bold;
    z-index: 10; /* Ensure it's above the image */
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin: 0;
}

.card-description {
    color: #666;
    margin-top: 10px;
}

.text-warning .fas.fa-star {
    color: rgb(173, 173, 10);

}

.text-warning .fas.fa-star-half {
    color: rgb(173, 173, 10);

}

.text-warning .far.fa-star {
    color: rgb(173, 173, 10);

}

.crt {
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}

.card-text {
    color: rgb(218, 0, 0);
}

.btn:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p.card-text.text-muted {
    color: green !important;
    text-decoration: line-through;
}

.card-body .fake {
    display: flex;
    gap: 1vw;
}

.like-heart {
    color: gray;
    margin-left: 15vw;
    cursor: pointer;
}

.like-heart.favorite-added {
    color: red;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.button .buton {
    background-color: #fc7f7f;
    border-radius: 30px;
    border-color: #ffffff;
    color: #ffffff;
}
